<div class="container-fluid">
  <div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2E0VLP9kGlw?autoplay=1" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="row">
 
    <div class="col-xs-12 col-md-6">
      <h1>LA DIMENSION NOIRE</h1>
      <br>
      <h2>L'UNIVERS DE CHARLY GUITARE NOIR</h2>
      <p>C'est le monde du jugement et de la terreur, le monde de la guerre
      </p>
      <p>Le monde de la magie noire, tout est ténèbre seul les dieux ont des éclairs qui leur servent de lumière quand
        ils
        se déplacent pour aller en guerre contre un territoire ennemi.
      </p>
      <p>Les êtres qui y vivent : le léviathan ( gros serpent aux yeux rouge qui pétrifie ses victimes rien qu’en les
        regardant), poséidons le dieu des eaux, Zeus celui des éclaires et bafum le dieu des enfers
      </p>
      <p>Territoires des personnages :
        -Zeus dans le ciel noir
        -Posséidon dans l’océan
        -Bafum dans les volcans
        -Léviathan dans le sable de la plage</p>
      <p>Posséidon est le Dieu gardien du passage entre l’univers noir et l’univers vert. Léviathan est le Dieu gardien
        du
        passage entre l’univers noir et l’univers blanc ( dont l’univers noir constitue un partie de celui-ci)
      </p>
      <p>Le Monde bleu a son répète dans le monde noir qui est l’univers de Zeus, le monde rouge a pour repère l’univers
        de
        Bafum , le monde vert celui de Posséidon et le monde blanc celui de l’univers du léviathan dans l’univers noir
      </p>
      <br><br>
    </div>
    <div class="col-xs-12 col-md-3">
      <app-lesliens></app-lesliens>
    </div>
  </div>
</div>
