<div class="aside" *ngIf="moncinq">
  <div *ngIf="valider('0')">
    <h1>THE NEW GAME</h1>
    <p>Les Bonus : bonus vie , bonus point, bonus énergie, bonus santé, bonus endurence, bonus rapidité, bonus
      amplification, bonus temps, bonus dimension</p>
    <p>Bonus dimension : permettre au joueur de prendre un objet ou un pouvoir dans une autre dimension directement
      pendant qu’il est en celle-ci</p>
    <p>Bonus rapidité : permet la fluidité du joueur</p>
    <p>Bonus temps : le fait revenir en arrière sur le temps dans la même dimension pendant qu’il joue, ce bonus peut
      s’afficher lorsque le joueur est entrain de mourir</p>
  </div>
  <div *ngIf="valider('1')">
    <h1>THE NEW GAME</h1>
    <h2>L’univers du Charly guitare blanc</h2>
    <p>Le monde de la réalité psychologique d’un être humain en quête de savoir
    </p>
    <p>C’est un désert, un monde où on est toujours seul à marcher sous un soleil impétueux qui brille sans se coucher
      sur la moitié du territoire et d’autre part une lune qui ne disparaît jamais et qui siège sur une autre partie du
      même univers à l’infini
    </p>
    <p> Le Monde bleu a son répète dans le monde noir qui est l’univers de Zeus, le monde rouge a pour repère l’univers
      de Bafum , le monde vert celui de Posséidon et le monde blanc celui de l’univers du léviathan dans l’univers noir
    </p>
    <p>Pour pouvoir utiliser une guitare d’une autre couleur dans un monde x il faut sacrifier 500 points</p>
    <p>Le Charly blanc est celui à l’Etat brut qui est très costaud et peut soulever jusqu’à 1e tonne d’obstacles devant
      lui , le problème est qu’il casse toujours les cordes de sa guitare et perd toute sa force jusqu’à en mourir. Il
      est le symbole de la paix et prend du temps pour agir
    </p>
    <p>Alors le Charly guitare blanc vert ne sont pas suffisamment fort pour défendre contre les lions indomptables du
      labyrinthe, ces Charly sont juste des débarrasseurs d’obstacles physiques et non magique</p><br>
  </div>
  <div *ngIf="valider('2')">
    <h1>THE NEW GAME</h1>
    <p>-univers
      -personnages
      -Armes
      -super pouvoirs
      -hostilité des univers
      -les entités à l’intérieur de chaque univers
      -les pièges dans chaque univers
      -les points de vie initiaux
      -les missions et objectifs à atteindre
      - niveau de complexité</p>
    <p>-mises à jour du personnage</p>
    <p>Le personnage passe en mise à jour lorsqu’il déverrouille une autre dimension</p>
    <p>-capacité spéciale dans chaque univers</p>
    <p></p>
    <p></p>
  </div>
  <div *ngIf="valider('3')">
    <h1>THE NEW GAME</h1>
    <p>L’univers blanc est celui de la pédagogie et de l’apprentissage du savoir . C’est un territoire où le bien et le
      mal n’ont aucune signification psychologique pour ceux qui y habitent. Ici le personnage principal apprend à
      fabriquer une guitare avant même de savoir son utilisation, c’est juste qu’il trouve ça bien d’en fabriquer</p>
    <p>Dans sa phase active d’apprentissage il sera confronté à la deuxième partie du territoire blanc là où il n’y a
      pas de soleil et qu’il y’a qu’une lune. Bien qu’étant un personnage innocent il goûtera au fruit d’un arbre qui
      lui semblait beau et tout à coup sa perception de voir son propre monde va changer.</p>
    <p>Rappelons que l’univers blanc est un désert paradisiaque composé de deux parties : une partie ensoleillée qui ne
      finie pas et une autre couverte de lune où il fait nuit à l’infini .</p>
    <p>Le territoire où il fait toujours jour s’appelle le territoire de l’innocence , tous les habitants de la
      dimension blanche y habitent et ne s’aventurent jamais dans le territoire où il fait noire. Jusqu’au jour où un
      matin pendant que Charly guitare blanc s’amuse à toucher sa guitare qu’il vient de fabriquer, il va toucher une
      note qui va comme l’hypnotiser jusqu’à le transporter au seuil du territoire ignoré par les habitants de la
      dimension blanche, les anciens de cette dimension l’ont surnommée angle mort car pour eux c’était juste un rêve
      abstrait sans connaissance et préféraient se limiter à la vie paradisiaque qu’ils menaient.</p>
    <p>À partir de ce moment Charly guitare entre dans une phase de découverte mais ignore ce qui l’attend de l’autre
      côté et n’est même pas du tout inquiet car il vient d’un territoire où la peur n’existe pas. Il franchit donc le
      territoire de la lune , c’est le territoire de l’angle mort où le territoire de la connaissance du bien et du mal
    </p>
    <p></p>
  </div>
  <div *ngIf="valider('4')">
    <h1>THE NEW GAME</h1>
    <p>Nb: tous les Charly exercent leur pouvoir en jouant leurs guitares</p>
    <p>Pour pouvoir utiliser une guitare d’une autre couleur dans un monde x il faut sacrifier 500 points</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div *ngIf="valider('5')">
    <h1>THE NEW GAME</h1>
    <p>Charly guitare blanc entre dans le territoire couvert par la lumière de la lune et y aperçoit un arbre portant
      des fruits beaux à voir . Il s’en approche par curiosité et en prend un fruit qu’il goûte. Au même instant le
      passage du territoire ensoleillé se ferme derrière lui et Charly guitare blanc se retrouve apparemment seul sur un
      autre territoire dont il ignorait l’existence jusqu’à ce jour.</p>
    <p>Le territoire de l’innocence est bien aussi paisible pour les habitants parce se battre à longueur de journée où
      faire des trucs ,qui sont perçus comme stupides dans d’autres mondes ,rien que pour aboutir à la paix sont les
      bienvenus</p>
    <p>Ce territoire est réputé pour être le territoire de la paix parce qu’en fait rien est mal chez les habitants tout
      est bien du moment où on aboutit à la paix à un moment comme à un autre.</p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div *ngIf="valider('6')">
    <h1>THE NEW GAME</h1>
    <p>Quand tu frappes un enfant dans la dimension blanche il pleure</p>
    <p>Un caillou peut aussi te heurter à n’importe quel moment</p>
    <p>Quand un tu frappes un enfant dans la dimension blanche il pleure et tes points augmentent</p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div *ngIf="valider('7')">
    <h1>THE NEW GAME</h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div *ngIf="valider('8')">
    <h1>THE NEW GAME</h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div *ngIf="valider('9')">
    <h1>THE NEW GAME</h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div *ngIf="valider('10')">
    <h1>THE NEW GAME</h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div *ngIf="valider('11')">
    <h1>THE NEW GAME</h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div *ngIf="valider('12')">
    <h1>THE NEW GAME</h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>
