<div *ngIf="valider('1')">
  <p>Bienvenue dans le jeu THE NEW GAME. Le but du
    jeu est de retrouver les 6 cordes de la guitare de Charly guitare. Dans le territoire de l’innocence, LYKO LE SAGE
    vous aide à avoir la guitare blanche
    et à obtenir des points de vie.
    Vous pouvez le faire plus-tard.</p>
</div>
<div *ngIf="valider('0')">Dans le territoire de la connaissance du bien et du mal, Charly guitare blanc est dans une
  paix absolue qui cause un handicap sur ses missions à
  effectuer car il aime trop s’amuser et souvent casse sa guitare sans faire exprès. </div>
<div *ngIf="valider('2')">Kronos a mangé tous ses enfants. Il est le maitre du temps. Le dé de chronos vous permet de
  gagner des points de vie si vous acceptez d'en perdre. Vous pouvez le faire plus-tard.</div>
<div *ngIf="valider('3')">Vous allez passez de bons moments.
  Le Charly blanc est un bébé, Charly rouge un Ado , le vert jeune , le bleu Adulte, le noir un vieillard. Vert (
  reggae) bleu (le blues) rouge ( world) , blanc ( afro) , noir ( Rock’n roll)<br>
  Choissisez une nouvelle </div>
