<div class="offoland-app">
  <!-- CONTENU PRINCIPAL -->
  <main class="main-content">

    <div class="hero-content text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p><a [routerLink]="['/']" title="5 Charly Guitare">
              <img src="../assets/offoland.jpg"> </a></p>
        </div>
      </div><br>
      <div class="hero-text-block">
        <h1 class="hero-tagline">« OFFOLAND — Le monde où chaque dimension prend vie. »</h1>
      </div>
    </div>

    <app-play></app-play>
    <app-charlyguitaregame></app-charlyguitaregame>

  </main>

</div>