<div class="container-fluid">
  <div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XymowvqFhhw?autoplay=1" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>LA DIMENSION BLANCHE</h1>
      <br>
      <h2>L'UNIVERS DE CHARLY GUITARE BLANC</h2>
      <p>Il s'agit du monde de la réalité psychologique d’un être humain en quête de savoir.
      </p>
      <p> C’est un désert, un monde où on est toujours seul à marcher sous un soleil impétueux qui brille sans se
        coucher
        sur la moitié du territoire et d’autre part une lune qui ne disparaît jamais et qui siège sur une autre partie
        du
        même univers à l’infini.
      </p>
      <p>Le Monde bleu a son répète dans le monde noir qui est l’univers de Zeus, le monde rouge a pour repère
        l’univers de
        Bafum , le monde vert celui de Posséidon et le monde blanc celui de l’univers du léviathan dans l’univers noir
      </p>
      <p>Pour pouvoir utiliser une guitare d’une autre couleur dans un monde x il faut sacrifier 500 points</p>
      <p>Le Charly blanc est celui à l’Etat brut qui est très costaud et peut soulever jusqu’à 1e tonne d’obstacles
        devant
        lui , le problème est qu’il casse toujours les cordes de sa guitare et perd toute sa force jusqu’à en mourir. Il
        est
        le symbole de la paix et prend du temps pour agir
      </p>
      <p>Le Charly guitare blanc est dans une paix absolue qui cause un handicape sur ses missions à effectuer car il
        aime
        trop s’amuser et souvent casse sa guitare sans faire exprès</p><br><br>
    </div>
    <div class="col-xs-12 col-md-3">
      <app-lesliens></app-lesliens>
    </div>
  </div>
</div>
