<div class="container-fluid">
  <div class="header">
    <h1>THE NEW GAME</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>EQUIPE TECHNIQUE</h1>
      <p>-Direction artistique : Kotchi Kacou Jean-Charles <br>
        -Marketing : Ahoulou Josiane née Koné <br>
        -Community management : Simon Porquet <br>
        -Informatique : Yaya Sidibé <br>
        -Séquences et dialogues : Diakité Seydou <br>
        -Musique du jeu: Charly Guitare <br>
        -Décors : Lago Séry Patrick <br>
        -Animation : Marcel Kouassi <br>
        -Chef de projet : Soumahoro Moussa <br>
        -Béta testing: Sidibé Dieudonné Chris Mohamed <br>
        -Le créateur de la dimension rouge a préféré garder l’anonymat</p>
      <br>
    </div>
    <div class="col-xs-12 col-md-3">
      <app-lesliens></app-lesliens>
    </div>
  </div>
</div>
