<div class="container-fluid">
  <div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Bp2ysJ4Jgp0?autoplay=1" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>LA DIMENSION BLEUE</h1>
      <br>
      <h2>L'UNIVERS DE CHARLY GUITARE BLEU</h2>
      <p>C'est le monde des rêves et des songes:
        -n’a pas de sol
        -tout est en nuage même les choses de la vraie réalité sont constitués de nuages uniquement avec un sol en nuage
        et un
        soleil bleu qui ne se couché jamais.
      </p>
      <p>Les êtres qui y vivent : chauves souris, hiboux, chouettes, vampires , loups garous, ouragan, tempête de
        neige,
        anges gardiens
      </p>
      <p>Le bleu ne meurt pas mais dort trop. Charly guitare bleu ne se réveille qu’avec un chargement de vie
        automatique de un siècle (1h du temps) ou par sacrifice de points équivalent à mille
      </p>
      <p>Dans le labyrinthe il y’a des pièges comme les mines les explosif les sables mouvants les rivières les
        mangroves les volcans les ouragans les trous</p>
      <p>Il y’a aussi des créatures les chiens les loups garous les vampires les chauves souries
      </p>
      <p>Climat ensoleillé, pluvieux, neige , tempête, désert, forêt</p>
      <p>Le Monde bleu a son répète dans le monde noir qui est l’univers de Zeus, le monde rouge a pour repère l’univers
        de Bafum , le monde vert celui de Posséidon et le monde blanc celui de l’univers du léviathan dans l’univers
        noir
      </p>
      <p>Ces créatures sucent le sang à chaque fois qu’elles touchent l’être qu’elles attaquent</p>
      <p>Pour les vaincre il faut jouer le son d’une guitare verte</p>
      <p>Pour pouvoir utiliser une guitare d’une autre couleur dans un monde x il faut sacrifier 500 points</p>
      <p>Le Charly guitare bleue ne se réveille qu’avec un chargement de vie automatique de un siècle (1h du temps) ou
        par sacrifice de points équivalent à mille</p>
      <p>L’histoire se passe dans un labyrinthe au plein milieu d’une guerre qui consiste à tuer THUNDERFULL son maître
      </p>
      <br>
    </div>
    <div class="col-xs-12 col-md-3">
      <app-lesliens></app-lesliens>
    </div>
  </div>
</div>
