<div class="container-fluid">
  <div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hCWFGuh8jaA?autoplay=1" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <h1>LA DIEMSION VERTE</h1>
      <br>
      <h2>L'UNIVERS DE CHARLY GUITARE VERT</h2>
      <p>C'est le monde de la nature qui fait ce qu’elle veut en bien comme en mal quand elle veut sans tenir compte de
        ceux
        qui y
        habite.
      </p>
      <p> Le monde de la nature lui regroupe tous les reliefs et climats naturels du monde, sa particularité est qu’il
        provoque exprès des tremblements de terre pour rétablir l’équilibre de sa réalité virtuelle
      </p>
      <p> Le Monde bleu a son répète dans le monde noir qui est l’univers de Zeus, le monde rouge a pour repère
        l’univers de
        Bafum , le monde vert celui de Posséidon et le monde blanc celui de l’univers du léviathan dans l’univers noir
      </p>
      <p>Dans l’univers vert il existe des sirènes qui vivent dans un lac appelé wata.Elles sont (3) </p>
      <p>Elles ont pour mission d’empêcher quiconque qui pénètre dans l’univers des verts d’en sortir :
        -la 1ère sirène émet un son médium berçant qui transforme l’univers de la personne qui l’entend en île
        paradisiaque
        -la 2ème émet un ultra son qui ne peut être capté que quand un être dort, il pense qu’il est dans l’univers bleu
        comme un Dieu et refuse d’être humain jusqu’à ce que dans le monde vert réel une marrée monte pour l’emporter
        dans
        le lac de ces sirènes qui ne dégustent que les êtres endormis
        -la 3em sirènes a le pouvoir de prendre une forme humaine féminine et de charmer tout être représentant une
        menace
        pour le monde vert, c’est à dire tout être qui n’est pas vert ou qui ne dort pas
      </p>
      <p>Leur faiblesse c’est le son d’une guitare joué par Charly guitare rouge</p>
      <p>Pour pouvoir utiliser une guitare d’une autre couleur dans un monde x il faut sacrifier 500 points</p>
      <p>Nb: tous les Charly exercent leur pouvoir en jouant leurs guitares</p>
      <p>Le charly guitare vert est un hologramme qui peut apparaître partout à la fois, il a le pouvoir de simuler tous
        les
        autres pouvoirs des autres Charly sauf celui du rouge qui est la guérison et la résurrection</p>
      <p>Le Charly guitare en effet apparaît avant que le Charly guitare ne passe en mode noir car après lui c’est le ko
        total qui se présente</p>
      <p>Alors il reçoit un ordre ultime avant de laisser la place au noir</p>
      <p>Alors le Charly guitare blanc vert ne sont pas suffisamment fort pour défendre THUNDERFULL contre les lions
        indomptables du labyrinthe, ces Charly sont juste des débarrasseurs d’obstacles physiques et non magique</p>
      <br><br>
    </div>
    <div class="col-xs-12 col-md-3">
      <app-lesliens></app-lesliens>
    </div>
  </div>
</div>
