<div class="container-fluid">
  <div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zIUIrSKYoD8?autoplay=1" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="row">
 
    <div class="col-xs-12 col-md-6">
      <h1>LA DIMENSION ROUGE</h1>
      <br>
      <h2>L'UNIVERS DE CHARLY GUITARE ROUGE</h2>
      <p>Il s'agit du monde des sentiments la joie la paix l’amour mais aussi la haine le désespoir la fatigue le manque
        de
        confiance
        en soi la peur le courage etc.
      </p>
      <p>C’est un univers dominé par les sentiments, les jaloux vivent ensemble, les aigris aussi, les colériques, les
        amoureux, les désespérés, les vantards, les hautains, les courageux, chaque sentiment a un peuple vivant
        ensemble
        sur une même parcelle de terre dans cet univers pour être accepté dans un clan il faut pouvoir manifester le
        sentiment dominant.
      </p>
      <p> Le Monde bleu a son répète dans le monde noir qui est l’univers de Zeus, le monde rouge a pour repère
        l’univers de
        Bafum , le monde vert celui de Posséidon et le monde blanc celui de l’univers du léviathan dans l’univers noir
      </p>
      <p>Pour pouvoir utiliser une guitare d’une autre couleur dans un monde x il faut sacrifier 500 points</p>
      <p>Le Charly guitare rouge qui possède le pouvoir de régénérer et de ressusciter qui il veut mais dont le défaut
        capital est qu’il perd toutes ses capacités Vitales afin de guérir ou ressusciter, il opère ce miracle en jouant
        une
        sonorité mais malheureusement il est beaucoup amoureux et doit chercher sa guitare qu’il perd a chaque fois
        qu’il
        tombe amoureux pour l’empêcher de jouer
      </p>
      <br><br>
    </div>
    <div class="col-xs-12 col-md-3">
      <app-lesliens></app-lesliens>
    </div>
  </div>
</div>
